#root > div > div.allNotes >  div{
  overflow: auto;
  box-sizing: border-box;
  transition: transform .2s;
}

#root > div > div.allNotes >  div:hover{
	transform: scale(1.1)
}

.note_text{
	cursor:text;
}

.bg-washed-yellow{
	color:black;
	font-size: 1.1em;
	font-weight: 500;
	transform: scale(1.05)
}
